
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_MenuFooter.cshtml";
}

<div class="flex items-center h-[100vh]">
    <div class="m-auto w-96 py-10 px-7 bg-gray-800 rounded-md">
        <h3 class="text-center text-xl text-green-500 mb-10 font-bold">Log in</h3>
        <form class="flex flex-col  gap-5 justify-center items-center" method="post" action="">
            <input class="w-full p-3 border-[2px] rounded" type="email" name="Email" value=" @(Model == null? "": Model.Email)" placeholder="Enter Email" />
            <span class="text-red-400">@Html.ValidationMessage("Email")</span>
            <input class="w-full p-3 border-[2px] rounded" type="password" name="Password" placeholder="Enter Password" />
            <span class="text-red-400">@Html.ValidationMessage("Password")</span>
            <input class="bg-green-400 px-10 rounded py-3 cursor-pointer" type="submit" value="Log in" />
        </form>
    </div>
</div>

